:root {
  --main-background-color: rgba(37, 35, 34, 0.7);
  --main-text-color: #ffffff;
  --secondary-text-color: black;
  --header-bg-color: #E30016;
  --header-text-color: wheat;
  --footer-bg-color: #E30016;
  --footer-text-color: white;
  --image-border-color: black;
  --content-border-color: rgba(37, 35, 34, 0.7);
  --header-font: "Kaushan Script";
  --body-font: "Zen Old Mincho", serif;
  --font-size: 1.8rem;
}

.kaushan-script-regular {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-style: normal;
}

.zen-old-mincho-regular {
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

/*This is Index.html's CSS Ruleset.*/

.logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 200px;
  height: auto;
  border-radius: 10px;
  border:10px solid var(--image-border-color);
  margin-left: 70px;
}

.logo-large {
  display:none;
}

.site-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  max-width: 1000px;
  min-width: 700px;
  margin: 0 auto;
  height: 300px;
  color: var(--header-text-color);
}

.main-nav {
  flex: 1; /* Grow to fill remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

#menu-toggle, #close-menu {
  display: block;
  position: absolute;
  top: 24px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 20;

}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    font-family: var(--main-font);
    background-color: var(--header-bg-color);
    color: var(--main-text-color);
    text-decoration: none;
    border-radius: 25px;
    list-style: none;
    width: 100%;
    max-width: 1000px;
    min-width: 860px;
    height: 250px;
    margin: 0 auto;
    font-family: var(--header-font);
}

.nav-list {
    padding: 50px;
    height: 450px;
    margin-top: 55px;
}

nav ul {
    list-style: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    max-width: 1000px;
}

nav li {
    flex-grow: 1;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    max-width: 1000px;

}

nav a {
    display: block;
    justify-content: space-around;
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 2.2rem;
    padding: 5px 5px;
    border-radius: 25px 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    list-style: none;
    gap: 100px;
    font-family: var(--main-font);
    box-shadow: 0 0 0 transparent;
    max-width: 550px;
    min-width: 250px;
    width: 100%;
    text-align: center;
    margin-top: -100px;
    margin-left: 220px;
    border-bottom: 5px solid var(--content-border-color);
}

nav a:hover {
    background-color: var(--main-background-color);
    box-shadow: 0 0 10px rgba(35, 35, 36, 0.5);
    color: #ffffff;
}

.home-h1-header {
  font-family: var(--body-font);
  font-size: 2.5rem;
  text-align: center;
  color: var(--header-text-color);
  margin-top: 100px;
}

body {
  background-color: var(--main-background-color);
  color: var(--header-text-color);
  font-family: var(--body-font);
  min-width: 650px;
  max-width: 1000px;
  margin: 0 auto;
}

p {
  max-width: 1000px;
  padding: 20px;
  font-family: var(--body-font);
  font-size: var(--font-size);
  line-height: 1.6;
  color: var(--main-text-color);
  margin: auto auto;
}

.history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(37, 35, 34, 0.7);
  border-radius: 25px;
}

img {
  display:block;
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  border: 5px solid var(--image-border-color);
  box-shadow: 0 0 10px rgba(35, 35, 36, 0.5);
  margin: auto auto;
  transition: transform 0.3s ease;
  transform: scale(1);
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(35, 35, 36, 0.7);
}

figcaption {
  font-family: var(--body-font);
  font-size: 1.2rem;
  font-style: italic;
  color: var(--main-text-color);
  text-align: center;
  margin-top: 10px;
}

.overview-h2-header {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  padding: 20px;
  text-align: center;
  font-family: var(--body-font);
  font-size: 2.5rem;
  border-radius: 25px;
  
}

.haya-zushi-table  {
  display: table;
  width: 100%;
  max-width: 1000px;
  min-width: 650px;
  margin: auto auto;
  border-collapse: collapse;
  font-family: var(--body-font);
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--main-text-color);
}

.haya-zushi-table th {
  font-family: var(--body-font);
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 60px;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 15px;
  border-bottom: 2px solid var(--content-border-color);
}
.haya-zushi-table th, .haya-zushi-table td {
  padding: 1px;
  text-align: center;
  font-size: 1.6rem;
  font-family: var(--body-font);
}

.sources-h3-header {
  font-family: var(--body-font);
  font-size: 2.5rem;
  text-align: center;
  color: var(--header-text-color);
  margin-top: 50px;
}
.hyperlink-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;

}

.toggle-image-sources {
    display: none;
}

a {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
}

a:hover, a:focus {
    color: red;
    text-decoration: bold;
}

.toggle-button {
    display: block;
    padding: 10px 20px;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;

}

.toggle-button:hover {
    background-color: rgba(227, 0, 22, 0.8);
    color:  var(--secondary-text-color);
    box-shadow: 0 0 10px rgba(35, 35, 36, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* This is page 2 - Modern Sushi's CSS Ruleset. */

.home-h1-header {
  font-family: var(--body-font);
  font-size: 2.5rem;
  text-align: center;
  color: var(--header-text-color);
  margin-top: 100px;
}

.california-roll-image {
  display: block;
  max-width: 50%;
  height: auto;
  border-radius: 50px;
  border: 5px solid var(--image-border-color);
  box-shadow: 0 0 10px rgba(35, 35, 36, 0.5);
  margin: auto auto;
}

.modern-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(37, 35, 34, 0.7);
  border-radius: 25px;
}

.video-h3-header {
  font-family: var(--body-font);
  font-size: 2.5rem;
  text-align: center;
  color: var(--header-text-color);
  margin-top: 50px;
}

.sushi-video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 50px 50px 50px;
  padding: 20px;
  background-color: rgba(37, 35, 34, 0.7);
  border-radius: 25px;
}

.youtube-video {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto auto;
}

/* This is the contact form's CSS Ruleset on Modern-Sushi.html. */
.form-header {
  font-family: var(--body-font);
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  color: var(--header-text-color);
  margin-top: 20px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(37, 35, 34, 0.7);
  border-radius: 25px;
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--body-font);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

select {
    width: 80%;
    padding: 12px 18px;
    font-size: 1.8rem;
    border-radius: 30px;
    border: 2px solid var(--selection-font-color--);
    background-color: gray;
    color: var(--selection-font-color--);
    font-family: var(--header-font--);
    font-weight: bold;
    cursor: pointer;
}

select:focus {
    outline: 2px solid var(--selection-font-color--);
    background-color: gray;
    color:wheat;
    border-color: var(--selection-font-color--);
    font-weight: bold;
    font-size: 1.8rem;
}

select option:hover {
    background-color: gray;
    border-color: gray;
}

select option {
    font-size: 1.2rem;
    color: var(--selection-font-color--);
    background-color: gray;
    padding: 1rem;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
    display: block;
    box-sizing: border-box;
    text-align: left;
    height: 52px;
}

form input[type="text"] {
    font-size: 1.6rem;
    padding: 20px 25px;
    border-radius: 35px;
    border: 2px solid var(--main-font-color--);
    width: 100%;
    background-color: #ffffff;
    color: black;
    font-weight: bold;
}

form input[type="text"]:focus {
    outline: 2px solid var(--selection-font-color--);
    background-color: wheat;
    color: var(--secondary-text-color);
    border-color: var(--selection-font-color--);
}

form input[type="email"] {
    font-size: 1.6rem;
    padding: 20px 25px;
    border-radius: 35px;
    border: 2px solid var(--main-font-color--);
    width: 100%;
    background-color: #ffffff;
    color: black;
    font-weight: bold;
}

form textarea {
    font-size: 1.6rem;
    padding: 20px 25px;
    border-radius: 35px;
    border: 2px solid var(--main-font-color--);
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    color: black;
    font-weight: bold;
}

form textarea:focus {
    outline: 2px solid var(--selection-font-color--);
    background-color: wheat;
    color: var(--secondary-text-color);
    border-color: var(--selection-font-color--);
}
form input[type="email"]:focus {
    outline: 2px solid var(--selection-font-color--);
    background-color: wheat;
    color: var(--secondary-text-color);
    border-color: var(--selection-font-color--);
}
.required {
  color: #E30016;
  font-weight: bold;
}

.submit-form-button {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 20px auto;
    width: 75%;
    max-width: 500px;
}

.submit-form-button:hover {
    background-color:#ffffff;
    color: black;
    box-shadow: 0 0 10px rgba(35, 35, 36, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
}
footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        font-family: var(--main-font);
        font-size: 1.2rem;
        font-weight: bold;
        background-color: var(--footer-bg-color);
}