:root {
    --main-background-color: #6CACE4;
    --secondary-background-color: #ffffff;
    --main-text-color: #ffffff;
    --secondary-text-color: #000000;
    --main-font: 'Roboto','Montserrat', Helvetica, sans-serif;
}